--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn[standard]

sqlalchemy
psycopg[binary]
pgvector

pydantic-settings
python-dotenv
python-multipart
pypdf

google-genai
alembic
sentence-transformers